<!DOCTYPE html>
<head>
<title>Booker's Books - A Book Review Site</title>
<link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
	<h1>BOOKER'S BOOKS</h1>
	{{{body}}}
    <br>
    <div class="form">
        <a href="/">Home</a><br>
        <a href="/books-new">Add a Book!</a>
    </div>
    
</body>
</html>