<!DOCTYPE html>
<head>
<title>Booker's Books - A Book Review Site</title>
<link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
	<h1>BOOKER'S BOOKS</h1>
	{{{body}}}
</body>
</html>