body {
    background-color: darkslategrey;
    color: white;
}

h1 {
    color: purple;
    text-align: center;
}

h2 {
    color: goldenrod;
}

h2.centeredHeader {
    text-align: center;
}

#warning {
    color: grey;
    text-align: center;
}

div.header {
    position: relative;
}

div.navLinks {
    position: relative;
    text-align: center;
}

div.form {
    display: block;
    text-align: center;
}

a {
    text-align: center;
}

a:visited {
    color: pink;
}

a:link {
    color: pink;
}

a:hover {
    color: hotpink;
}

input.slider {
    height: 15px;
    border-radius: 5px;
}

/* the concept for using this scheme to render stars was found at
https://stackoverflow.com/questions/21376113/how-to-repeat-an-item-multiple-times-in-html-or-css */

span {
    display:block;
}

span[n="1"]:before {
   content: "★";
}

span[n="2"]:before {
   content: "★★";
}

span[n="3"]:before {
   content: "★★★";
}

span[n="4"]:before {
   content: "★★★★";
}

span[n="5"]:before {
   content: "★★★★★";
}